{% extends '_form_container.html' %}
{% load bootstrap4 %}
{% block home_nav_active %}active{% endblock %}
{% block form %}
    <h1>Edit Availability</h1>
    <p class="lead"><kbd>{{ availability }}</kbd> linked to user <kbd>{{ user_identifier }}</kbd></p>
    <hr>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <hr>
        {% buttons %}
            <a class="btn btn-sm btn-outline-danger"
                   href="{% url 'availability-delete' user_identifier availability.pk %}">Delete Availability</a>

            <span style="float: right;">

        <a class="btn btn-lg btn-outline-secondary"
           href="{% url 'availability-list' user_identifier %}">Go Back</a>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </span>
        {% endbuttons %}
    </form>
{% endblock %}
