{% extends '_form_container.html' %}
{% load bootstrap4 %}
{% block home_nav_active %}active{% endblock %}
{% block form %}
    <h1>Delete {{ object.name }}</h1>
    <hr>

    <form action="" method="post">
        {% csrf_token %}
        <p>
            Are you sure you want to delete <strong>{{ object }}</strong>? This will delete the
            Tag and all its functionalities, flavors, and Rollout Strategies.
        </p>
        <p>This action is not reversible.</p>
        <hr>

        {% buttons %}
        <span style="float: right;">
        <a class="btn btn-lg btn-outline-secondary" href="{% url 'tags-detail' object.id %}">Go Back</a>
        <button type="submit" class="btn btn-danger btn-lg">Delete</button>
        </span>
        {% endbuttons %}
    </form>
{% endblock %}
