{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ablator</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
          crossorigin="anonymous">

    <style type="text/css">
        body {
            background: linear-gradient(170deg, white, white 30%, lightgray);
            min-height: 100vh;
            padding-bottom: 8rem;
        }
        /* Custom page footer */
        .footer {
            padding: 1.5rem 0 0.5rem;
            margin-top: 2rem;
            font-size: small;
            color: #ccc;
            background: radial-gradient(100% 100% at 50% 100%, #000 0%, #000000 99%, rgba(0, 0, 0, 0) 100%);

            position:fixed;
            width: 100%;
            bottom:0;
        }
        .footer a {
            color: #fff;
        }
    </style>

</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <a class="navbar-brand" href="{% url 'home' %}">ablator</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% block home_nav_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'home' %}">Home <span
                        class="sr-only">(current)</span></a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item {% block users_profile_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'profile-detail' request.user.id %}">{{ request.user }}</a>
            </li>
            <li class="nav-item {% block users_nav_active %}{% endblock %}">
                <a class="nav-link" href="{% url 'user-list' %}">{{ request.user.ablatoruser.organization.name }}</a>
            </li>
            {% endif %}
        </ul>

        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
            <li>
            <span class="navbar-text">Signed in as
                <strong>{{ request.user }}</strong>
                of
                <strong>{{ request.user.ablatoruser.organization.name }}</strong>
            </span>
            </li>
            <li>
                <a class="nav-link" href="{% url 'logout' %}">Sign Out</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>
</div>

{% block body %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message|safe }}
        </div>
        {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
</div>
{% endblock %}


<footer class="footer">
    <div style="max-width: 30rem; margin-left: auto; margin-right: auto;">
        <img src="{% static 'ablator/ablator_logo_white.png' %}" alt="The ablator logo, a space
            capsule screaming through the atmosphere" width="50px"
             style="float: left; margin-right: 20px">

        <p>
            Ablator Version <kbd>{{ request.ablator_version }}</kbd>
            Distributed under the BSD License. <br>See <a
                href="http://ablator.io/">ablator.io</a> for more info
        </p>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="{% static "ablator/main.js" %}"></script>

{% block scripts %}{% endblock %}
</body>
</html>



















