<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Ablator</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- jQuery -->
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


</head>
<body style="padding-top: 20px;">
<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/" style="padding: 5px 15px;">
                    <img src="http://via.placeholder.com/120x40" alt="ablator logo">
                </a>
            </div>
            {% if request.user.is_authenticated %}
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href=" {% url 'home' %}">Apps</a></li>
                        <li><a href="/admin/">Admin</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                    <p class="navbar-text navbar-right">
                        Signed in as
                        <a href="#" class="navbar-link">
                            <strong>{{ request.user }}</strong>
                        </a> -
                        <a href="{% url 'logout' %}" class="navbar-link">Sign Out</a>
                    </p>
                </div><!--/.nav-collapse -->
            {% endif %}
        </div><!--/.container-fluid -->
    </nav>


    {% block body %}
    {% endblock %}

    <footer>
        <p style="text-align: center;">
            <small>
                ablator is created by Daniel Jilg and distributed under the MIT License. See <a
                    href="https://github.com/winsmith/ablator/">ablator on GitHub</a> for more info
            </small>
        </p>
    </footer>

</div>

</body>
</html>