{% extends '_base.html' %}
{% block back %}
    <li class="breadcrumb-item active">{{ app.name }}</li>
{% endblock %}

{% block content %}
    <h1>{{ app.name }}</h1>
    {% for functionality in app.functionality_set.all %}
            {% include '_includes/functionality_enabled_users.html' %}

        <div class="progress">
            {% for flavor in functionality.flavor_set.all %}
                <div class="progress-bar"
                     style="width: {{ flavor.width_percent }}%; background-image: none; background-color: #{{ flavor.color }}">
                    <span class="">{{ flavor.name }}</span>
                </div>
            {% endfor %}
        </div>

    {% endfor %}
{% endblock %}