{% extends '_base.html' %}
{% block back %}
    <li class="breadcrumb-item active">{{ app.name }}</li>
{% endblock %}

{% block content %}
    <h1>{{ app.name }}</h1>
    <hr>

    <div class="row">
        {% for functionality in app.functionality_set.all %}
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title"><a
                                href="{% url 'functionality' functionality.id %}">{{ functionality.name }}</a>
                        </h4>
                        <div class="progress">
                            {% for flavor in functionality.flavor_set.all %}
                                <div class="progress-bar"
                                     style="width: {{ flavor.width_percent }}%; background-image: none; background-color: #{{ flavor.color }}">
                                </div>
                            {% endfor %}
                        </div>
                        <hr>

                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                <span class="display-2">{{ functionality.number_of_enabled_users }}</span><br>
                                <small>users enabled</small>
                            </div>
                            </div>
                            <div class="col">
                                <div class="text-center">
                                    <span class="display-2">{{ functionality.number_of_users }}</span><br>
                                    <small>potential users</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:2 %}
                </div>
                <br>
                <div class="row">
            {% endif %}
        {% endfor %}
        <div class="col-md-6">
            <div class="card text-center">
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-primary">Add New App
                        </button>
                    </div>
                </div>
        </div>
        </div>

{% endblock %}