{% extends '_base.html' %}
{% block body %}
    <div class="jumbotron">
        <h1>Welcome to Ablator</h1>
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed
            to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your
            viewport and device.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Create a
                user &raquo;</a>
        </p>
    </div>
{% endblock %}