{% extends '_base.html' %}
{% block body %}


    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Overview</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    {% for app in apps %}
        <section class="content">
            <h1>{{ app.human_readable_name }}</h1>
            {% for functionality in app.functionality_set.all %}
                <h2>{{ functionality.human_readable_name }}</h2>

                <div class="progress">
                {% for flavor in functionality.flavor_set.all %}
                    <div class="progress-bar" style="width: {{ flavor.width_percent }}%; background-color: #{{ flavor.color }}">
                        <span class="">{{ flavor.human_readable_name }}</span>
                    </div>
                {% endfor %}
                </div>

                {% for flavor in functionality.flavor_set.all %}
                    <div class="info-box bg-gray">
                        <span class="info-box-icon"><i class="fa fa-comments-o"></i></span>
                        <div class="info-box-content">
                        <span class="info-box-text">Enabled Users</span>
                        <span class="info-box-number">{{ flavor.number_of_enabled_users }}</span>
                        <div class="progress">
                            <div class="progress-bar" style="width: {{ flavor.single_width_percent }}%"></div>
                        </div>
                        <span class="progress-description">
                        {{ flavor.number_of_users }} Users total
                        </span>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        
        </section>
    {% endfor %}








{% endblock %}