{% extends '_form_container.html' %}
{% load bootstrap4 %}

{% block users_nav_active %}active{% endblock %}

{% block form %}
    <h1>Change Password</h1>
    <hr>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <hr>
        {% buttons %}

            <span style="float: right;">

        <a class="btn btn-lg btn-outline-secondary"
           href="{% url 'user-list' %}">Go Back</a>
        <button type="submit" class="btn btn-primary btn-lg">Change Password</button>
        </span>
        {% endbuttons %}
    </form>
{% endblock %}
