{% extends '_base.html' %}
{% load humanize %}
{% block home_nav_active %}active{% endblock %}
{% block back %}
    <li class="breadcrumb-item active">{{ app.name }}</li>
{% endblock %}

{% block content %}
    <h1>Include Ablator in {{ app.name }}</h1>

    <p class="lead">
        This page contains examples on how to integrate Ablator into your app. The code examples on this page are not
        generic; instead they are tailored to your specific configuration.
    </p>

    <p> The app
        {% spaceless %}
            <a href="{% url 'home' %}" class="text-dark">{{ app.organization }}</a>
            <span>.{{ app.slug }}</span>
        {% endspaceless %}
        has the ID <kbd>{{ app.id }}</kbd>. You need this ID to initialize the ablator client for your app.
    </p>

    <p>
        Currently we have clients for Swift and Python. At the bottom of the page, you'll find a description of the
        generic REST API you can use to get the feature data from other programming languages.
    </p>

    <hr>

    <section>
        <h1>Swift</h1>

    <p>
        Here's an example for the Swift Client, <a href="https://github.com/ablator/shepard">Shepard</a>.
    </p>

    <p>
        First you need to install the Shepard library into your project. Refer to the
        <a href="https://github.com/ablator/shepard">Shepard docs</a> as to how. After that, here's how you use
        Ablator / Shepard:
    </p>

    <h3>Add a Singleton to your AppDelegate</h3>
    <p>
        First, initialize the ablator client in your <code>AppDelegate.swift</code>.
        This automatically retrieves the set of availabilities for your user.
    </p>

    <pre class="pre-x-scrollable"><code>
import shepard

var ablatorClient: AblatorClient?

<span class="text-muted">func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {

    // other initialization of your app
    // ...

    // If you have another user identifier, such as an actual user
    // name or email adress, you can use it here as well
    // to make sure users get the same features across apps.
    // User identifiers will never be saved in the data
    // base, only hashes of them.</span>
    let username = <span class="text-primary">UIDevice.current.identifierForVendor!.uuidString</span>
    let appID = <span class="text-primary">"{{ app.id }}"</span>

    <span class="text-muted">// Initialize the ablator client and set it aside for later use
    // This will automatically cache your user's availabilities,
    // so calls to which and canIUse are quick and and synchronous</span>
    let ablatorClient = AblatorClient(
        baseURL: "<span class="text-primary">"http://{{ request.META.HTTP_HOST }}/"</span>",
        username: username,
        appID: appID
    )

    self.ablatorClient = ablatorClient

    <span class="text-muted">return true
}</span>
            </code></pre>


    <h3>Access the Singleton from a ViewController, when Feature Switching</h3>
    <p>To use functionality switching in your ViewController, use the <code>canIUse</code> function:
    </p>

    <pre class="pre-x-scrollable"><code><span class="text-muted">// Retrieve the ablatorClient from the app delegate</span>
let appDelegate = UIApplication.shared.delegate as! AppDelegate
let ablatorClient = appDelegate.ablatorClient!

{% for functionality in app.functionality_set.all %}let <span class="text-primary">{{ functionality.slug_as_scorecase }}_functionality</span> = <span class="text-primary">"{{ functionality }}"</span>
{% endfor %}
if (ablatorClient.canIUse(functionalityName: <span
                class="text-primary">{{ app.functionality_set.first.slug_as_scorecase }}_functionality</span>)) {
    <span class="text-muted">// Enable {{ app.functionality_set.first.name }}</span>
} else {
    <span class="text-muted">// Disable {{ app.functionality_set.first.name }}</span>
}</code></pre>

    <h3>Access the Singleton from a ViewController, when A/B Testing</h3>
    <p>If you have defined more than one flavor, for e.g. A/B testing, use the <code>which</code>
        function:</p>

    <pre class="pre-x-scrollable"><code>switch ablatorClient.which(functionalityName: <span
            class="text-primary">{{ app.functionality_set.first.slug_as_scorecase }}_functionality</span>) {
{% for flavor in app.functionality_set.first.flavor_set.all %}
case <span class="text-primary">"{{ flavor }}"</span>?:
    <span class="text-muted">// Flavor: {{ flavor.name }}</span>
{% endfor %}
default:
    <span class="text-muted">// Disable {{ app.functionality_set.first.name }}</span>
}</code></pre>

        </section>

    <hr>

    <h1>Python</h1>

    <p>
        To include this app's functionalities in your code, use the <code>which</code>
        function in your
        ablator client. Here's an example for the Python Client, <code>karman</code>.
        (<a href="https://github.com/ablator/karman">Karman on GitHub</a>)
    </p>

    <pre class="pre-x-scrollable"><code>
import karman
username = <span class="text-primary">"(your user name string)"</span>
app_id = <span class="text-primary">"{{ app.id }}"</span>
ablator_client = karman.Karman(base_url=<span class="text-primary">'http://{{ request.META.HTTP_HOST }}/'</span>)
availabilities = ablator_client.which(username, app_id)

<span class="text-muted"># <strong>this will return a list similar to this:</strong>
# availabilities == [{% for functionality in app.functionality_set.all %}
        "<span class="text-primary">{{ functionality.flavor_set.first }}</span>",{% endfor %}
    ]</span></code></pre>


    <hr>

    <h1>HTTP API</h1>

    <p>Here's an example for <code>curl</code> on the command line:</p>
    <pre class="pre-x-scrollable"><code>curl  --header 'Accept: application/json' http://<span
            class="text-primary">{{ request.META.HTTP_HOST }}</span>/api/v3/<span
            class="text-primary">$(whoami)</span>/<span class="text-primary">{{ app.id }}</span>/flavors/</code></pre>

    <strong>This will return a list that might look like this:</strong>
    <pre class="pre-x-scrollable"><code>
[
{% for functionality in app.functionality_set.all %}    "<span class="text-primary">{{ functionality.flavor_set.first }}</span>"{% if not forloop.last %},{% endif %}
{% endfor %}]</code></pre>
{% endblock %}