{% extends '_base.html' %}
{% load humanize %}
{% block home_nav_active %}active{% endblock %}
{% block back %}
    <li class="breadcrumb-item active">{{ app.name }}</li>
{% endblock %}

{% block content %}
    <h1>{{ app.name }}
        <small><a class="btn btn-sm btn-outline-secondary"
                  href="{% url 'app-update' app.id %}">Edit</a></small>
    </h1>

    <p class="lead">
        {% spaceless %}
            <a href="{% url 'home' %}" class="text-dark">{{ app.organization }}</a>
            <span>.{{ app.slug }}</span>
        {% endspaceless %}
        <br>
        <kbd>{{ app.id }}</kbd>
    </p>
    <hr>

    <div class="card-deck">
        {% for functionality in app.functionality_set.all %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"><a
                            href="{% url 'functionality-detail' functionality.id %}">{{ functionality.name }}</a>
                    </h4>
                    <div class="progress">
                        {% for flavor in functionality.flavor_set.all %}
                            <div class="progress-bar"
                                 style="width: {{ flavor.width_percent }}%; background-image: none; background-color: #{{ flavor.color }}">
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    {% if functionality.rollout_strategy == 'enable_globally' %}
                        <h1 class="text-center"><span class="badge badge-success">
                            {{ functionality.get_rollout_strategy_display }}
                        </span></h1>
                    {% elif functionality.rollout_strategy == 'recall' %}
                        <h1 class="text-center"><span class="badge badge-danger">
                            {{ functionality.get_rollout_strategy_display }}
                        </span></h1>
                    {% else %}

                        <div class="row">
                            <div class="col">
                                <div class="text-center">
                                    <span class="display-3">{{ functionality.number_of_enabled_users|intword|intcomma }}</span><br>
                                    <small>users enabled</small>
                                </div>
                            </div>
                            <div class="col">
                                <div class="text-center">
                                    {% if functionality.rollout_strategy == 'pause_rollout' %}
                                        <br>
                                        <h1><span class="badge badge-warning display">
                                        {{ functionality.get_rollout_strategy_display }}
                                        </span></h1>
                                    {% else %}
                                        <span class="display-3">{{ functionality.number_of_users|intword|intcomma }}</span>
                                        <br>
                                        <small>potential users</small>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

            {% if forloop.counter|divisibleby:2 %}
                </div>
                <br>
                <div class="card-deck">
            {% endif %}
        {% endfor %}

        <div class="card text-center">
            <div class="card-body">
                <a href="{% url 'functionality-create' app.id %}" class="btn btn-outline-secondary">Add
                    New Functionality</a>
            </div>
        </div>
        </div>

    <hr>
<section>
    <h2>Use it in Your Code</h2>
    <div class="row">
        <div class="col-md-3">
    <div class="nav flex-column nav-pills" role="tablist">
        <a class="nav-link active" data-toggle="pill" href="#swift" role="tab" aria-expanded="true">Swift</a>
        <a class="nav-link" data-toggle="pill" href="#python" role="tab" aria-expanded="true">Python</a>
        <a class="nav-link" data-toggle="pill" href="#curl" role="tab" aria-expanded="true">Curl</a>
    </div>
            </div>
        <div class="col-md-9">
    <div class="tab-content">
        <div class="tab-pane fade show active" id="swift" role="tabpanel">
            <div class="card card-body">
            <p class="lead">This app has the ID <kbd>{{ app.id }}</kbd>
            </p>

            <p>
                Here's an example for the Swift Client, <code>shepard</code>.
                (<a href="https://github.com/ablator/shepard">Shepard on GitHub</a>)
            </p>

            <h3>AppDelegate</h3>
            <p>
                First, initialize the ablator client in your <code>AppDelegate.swift</code>.
                This automatically retrieves the set of availabilities for your user.
            </p>

            <pre><code>
import shepard

var ablatorClient: AblatorClient?

<span class="text-muted">func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {

    // other initialization of your app
    // ...

    // Initialize the ablator client and set it aside for later use
    // This will automatically cache your user's availabilities,
    // so calls to which and canIUse are quick and and synchronous</span>
    let username = <span class="text-primary">UIDevice.current.identifierForVendor!.uuidString</span>
    let appID = <span class="text-primary">"{{ app.id }}"</span>
    let ablatorClient = AblatorClient(
        baseURL: "<span class="text-primary">"http://{{ request.META.HTTP_HOST }}/"</span>",
        username: username,
        appID: appID
    )

    self.ablatorClient = ablatorClient

    <span class="text-muted">return true
}</span>
            </code></pre>

            <h3>ViewController, when Feature Switching</h3>
            <p>To use functionality switching in your ViewController, use the <code>canIUse</code> function:</p>

            <pre><code><span class="text-muted">// Retrieve the ablatorClient from the app delegate</span>
let appDelegate = UIApplication.shared.delegate as! AppDelegate
let ablatorClient = appDelegate.ablatorClient!

{% for functionality in app.functionality_set.all %}let <span class="text-primary">{{ functionality.slug_as_scorecase }}_functionality</span> = <span class="text-primary">"{{ functionality }}"</span>
{% endfor %}
if (ablatorClient.canIUse(functionalityName: <span class="text-primary">{{ app.functionality_set.first.slug_as_scorecase }}_functionality</span>)) {
    <span class="text-muted">// Enable {{ app.functionality_set.first.name }}</span>
} else {
    <span class="text-muted">// Disable {{ app.functionality_set.first.name }}</span>
}</code></pre>

            <h3>ViewController, when A/B Testing</h3>
            <p>If you have defined more than one flavor, for e.g. A/B testing, use the <code>which</code> function:</p>

            <pre><code>switch ablatorClient.which(functionalityName: <span class="text-primary">{{ app.functionality_set.first.slug_as_scorecase }}_functionality</span>) {
{% for flavor in app.functionality_set.first.flavor_set.all %}
case <span class="text-primary">"{{ flavor }}"</span>?:
    <span class="text-muted">// Flavor: {{ flavor.name }}</span>
{% endfor %}
default:
    <span class="text-muted">// Disable {{ app.functionality_set.first.name }}</span>
}</code></pre>
        </div>
        </div>
        <div class="tab-pane fade" id="python" role="tabpanel">
            <div class="card card-body">
            <p class="lead">This app has the ID <kbd>{{ app.id }}</kbd>
            </p>

            <p>
                To include this app's functionalities in your code, use the <code>which</code>
                function in your
                ablator client. Here's an example for the Python Client, <code>karman</code>.
                (<a href="https://github.com/ablator/karman">Karman on GitHub</a>)
            </p>

            <pre><code>
import karman
username = <span class="text-primary">"(your user name string)"</span>
app_id = <span class="text-primary">"{{ app.id }}"</span>
ablator_client = karman.Karman(base_url=<span class="text-primary">'http://{{ request.META.HTTP_HOST }}/'</span>)
availabilities = ablator_client.which(username, app_id)

<span class="text-muted"># <strong>this will return a list similar to this:</strong>
# availabilities == [{% for functionality in app.functionality_set.all %}
    "<span class="text-primary">{{ functionality.flavor_set.first }}</span>",{% endfor %}
]</span></code></pre>
        </div>
        </div>
        <div class="tab-pane fade" id="curl" role="tabpanel">
            <div class="card card-body">
            <p class="lead">This app has the ID <kbd>{{ app.id }}</kbd>
            </p>

            <p>Here's an example for <code>curl</code> on the command line:</p>
            <pre><code>curl  --header 'Accept: application/json' http://<span class="text-primary">{{ request.META.HTTP_HOST }}</span>/api/v3/<span class="text-primary">$(whoami)</span>/<span class="text-primary">{{ app.id }}</span>/flavors/</code></pre>

<strong>This will return a list that might look like this:</strong>
<pre><code>
[{% for functionality in app.functionality_set.all %}"<span class="text-primary">{{ functionality.flavor_set.first }}</span>"{% if not forloop.last %},{% endif %}{% endfor %}]</span></code></pre>
            </div>
        </div>
    </div>
            </div>
    </div>

</section>

{% endblock %}