{% extends '_form_container.html' %}
{% load bootstrap4 %}
{% block home_nav_active %}active{% endblock %}
{% block overwrite_spacer %}{% endblock %}

{% block form %}
    {% if object %}
        <h1>Edit {{ object.name }}</h1>
    {% else %}
        <h1>Create New Flavor</h1>
    {% endif %}
    <hr>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <hr>
        {% buttons %}
            {% if object.id %}
                <a class="btn btn-sm btn-outline-danger"
                   href="{% url 'flavor-delete' flavor.id %}">Delete {{ object.name }}</a>
            {% endif %}

            <span style="float: right;">

        <a class="btn btn-lg btn-outline-secondary"
           href="{% if object %}{% url 'functionality-detail' object.functionality.id %}{% else %}{% url 'home' %}{% endif %}">Go Back</a>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </span>
        {% endbuttons %}
    </form>
{% endblock %}

{% block help %}
    <h4>What are Flavors?</h4>
    <p>
        Flavors are different representations of a functionality. Either one or none of them is
        active for a user at a given time.
    </p>
    <p>
        In case you want to A/B-test a few <strong>variations of a functionality</strong>, create
        one flavor for each variation.
    </p>
    <p>
        If you only want to <strong>switch a Functionality Off and On</strong>, you will only need
        one flavor, named 'on' or similar.
    </p>

    <h4>Flavors have a Color</h4>
    <p>
        Flavors always get a randomly selected color to show in visual representations. You can
        overwrite that color with a HEX color of your choice.
    </p>
{% endblock %}