{% extends '_base.html' %}
{% load humanize %}
{% block home_nav_active %}active{% endblock %}
{% block back %}
<li class="breadcrumb-item"><a
        href="{% url 'app-detail' functionality.app.id %}">{{ functionality.app.name }}</a></li>
<li class="breadcrumb-item active">{{ functionality.name }}</li>

{% endblock %}

{% block content %}
<section>
    <div class="page-header">
        <div class="row">
            <div class="col-md-8">
                <h1>{{ functionality.name }}
                    <small><a class="btn btn-sm btn-outline-secondary"
                              href="{% url 'functionality-update' functionality.id %}">Edit</a>
                    </small>
                </h1>
                <p class="lead">
                    {% spaceless %}
                    <a href="{% url 'home' %}"
                       class="text-dark">{{ functionality.app.organization }}</a>
                    <span>.</span>
                    <a href="{% url 'app-detail' functionality.app.id %}"
                       class="text-dark">{{ functionality.app.slug }}</a>
                    <span>.{{ functionality.slug }}</span>
                    {% endspaceless %}
                    <br>
                </p>
            </div>
            <div class="col-md-4 text-right">
                    <span class="display-4">
                        <a class="badge badge-{% spaceless %}
                            {% if functionality.rollout_strategy == 'defined_by_releases' %}
                            info
                            {% elif functionality.rollout_strategy == 'enable_globally' %}
                            success
                            {% elif functionality.rollout_strategy == 'pause_rollout' %}
                            warning
                            {% elif functionality.rollout_strategy == 'recall' %}
                            danger
                            {% endif %}
                            {% endspaceless %}"
                           href="{% url 'functionality-update' functionality.id %}">
                            {{ functionality.get_rollout_strategy_display }}
                        </a>
                    </span>
            </div>
        </div>
    </div>
</section>

<hr>
<div id="functionality-enabled-users"
     data-id="{% url 'functionality-part-enabled-users' functionality.id %}">
    <div style="height: 10em; background: #fafafa;"></div>
</div>

{% if functionality.rollout_strategy == 'enable_globally' %}
{% elif functionality.rollout_strategy == 'recall' %}
{% else %}

{% if functionality.flavor_set.all %}
<section id="functionality-progress"
         data-id="{% url 'functionality-part-progress' functionality.id %}">
    <div style="height: 3em; background: #fafafa;"></div>
</section>

{% endif %}
<section id="functionality-flavors"
         data-id="{% url 'functionality-part-flavors' functionality.id %}">
    <div style="height: 10em; background: #fafafa;"></div>
</section>
{% endif %}


<hr>

<section>
    <h2>Rollout Strategies</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Start Date</th>
            <th>Tag</th>
            <th>Possible Flavors</th>
            <th>Strategy</th>
            <th class="text-right">Max Enabled Users</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for rollout_strategy in functionality.rolloutstrategy_set.all %}
            <tr>
                <td>
                    <strong>{{ rollout_strategy.start_at }}</strong><br>
                    {{ rollout_strategy.start_at|naturaltime }}
                </td>
                <td>{% if rollout_strategy.tag %}#{{ rollout_strategy.tag.name }}{% endif %}</td>
                <td>
                    {% for flavor in rollout_strategy.possible_flavors.all %}
                        <span class="badge" style="background-color: #{{ flavor.color }}">{{ flavor.name }}</span>
                    {% endfor %}
                </td>
                <td>{{ rollout_strategy.strategy }}</td>
                <td class="text-right">
                    <span class="display-4">{{ rollout_strategy.max_enabled_users|intword|intcomma }}</span>
                </td>
                <td class="align-middle">
                    <a class="btn btn-sm btn-outline-secondary btn-block"
                       href="{% url 'rollout-strategy-update' rollout_strategy.id %}">Edit</a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6" class="px-0">
                    <div class="alert alert-warning mx-0" role="alert">
                        <strong>You need to define at least one Roll Out Strategy.</strong> This
                        will tell Ablator how many users you want to allow in on this
                        functionality, and when.
                    </div>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <td colspan="4"><a href="{% url 'rollout-strategy-create' functionality.id %}"
                               class="btn btn-outline-secondary">Add new Rollout Strategy</a></td>
        </tr>
        </tbody>
    </table>
</section>

<hr>

<section>
    <h2>Logs</h2>
    <div class="card" id="log-window" style="max-height: 30rem; overflow: scroll;"
         data-id="{% url 'logging-list' functionality.id %}">
        <div style="height: 30rem; background: #fafafa;"></div>
    </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}