{% extends '_base.html' %}
{% block back %}
    <li class="breadcrumb-item"><a
            href="{% url 'app-detail' functionality.app.id %}">{{ functionality.app.name }}</a></li>
    <li class="breadcrumb-item active">{{ functionality.name }}</li>

{% endblock %}

{% block content %}
    <section>
        <div class="page-header">
            <h1>{{ functionality.name }} <small><a class="btn btn-sm btn-outline-secondary" href="{% url 'functionality-update' functionality.id %}">Edit</a></small></h1>
            <p class="lead">{{ functionality }}</p>
        </div>

        <hr>

        <section>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <span class="display-2">{{ functionality.number_of_enabled_users }}</span><br>
                            <small>users enabled</small>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">

                        <div class="text-center">
                            <span class="display-2">{{ functionality.number_of_users }}</span><br>
                            <small>potential users</small>
                        </div>
                            </div>
                            <div class="col">
                                <button class="btn btn-outline-secondary btn-block">Let in 10 Users</button>
                                <button class="btn btn-outline-secondary btn-block">Let in 200 Users</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        </section>

        <hr>

        <div class="progress">
            {% for flavor in functionality.flavor_set.all %}
                <div class="progress-bar"
                     style="height: 4em; width: {{ flavor.width_percent }}%; background-image: none; background-color: #{{ flavor.color }}">
                    <span style="line-height: 4em;">{{ flavor.name }}</span>
                </div>
            {% endfor %}
        </div>
    </section>

    <hr>



    <section>
        <h2>Flavors</h2>
        <div class="row">
            {% for flavor in functionality.flavor_set.all %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">{{ flavor.name }} <a class="btn btn-sm btn-outline-secondary" href="{% url 'flavor-update' flavor.id %}">Edit</a></h4>

                            <div class="progress">
                                <div class="progress-bar"
                                     style="width: {{ flavor.single_width_percent }}%; background-image: none; background-color: #{{ flavor.color }}"></div>
                            </div>
                            <hr>
                            <div class="text-center">
                                <span class="display-2">{{ flavor.number_of_enabled_users }}</span><br>
                                <small>users enabled, of
                                    <strong>{{ flavor.number_of_users }}</strong> users overall
                                </small>
                            </div>

                        </div>
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <br>
                    <div class="row">
                {% endif %}
            {% endfor %}

            <div class="col-md-4">
                <div class="card text-center">
                    <div class="card-body">
                        <a href="{% url 'flavor-create' functionality.id %}" class="btn btn-outline-secondary">Add New Flavor</a>
                    </div>
                </div>
            </div>
            </div>
    </section>

    <hr>

    <section>
        <h2>Release Timeline</h2>

        <div class="row">
            {% for release in functionality.release_set.all %}
                <div class="col-md-3">
                    <div class="card {% if release.is_current %}text-white bg-primary{% endif %}">
                        <div class="card-body">
                            <h4 class="card-title">{{ release.start_at }}</h4>
                            <div class="text-center">
                                <span class="display-2">{{ release.max_enabled_users }}</span><br>
                                <small>users max</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
                    </div>
                    <br>
                    <div class="row">
                {% endif %}
            {% endfor %}

            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <button type="button" class="btn btn-outline-primary">Add New Release
                        </button>
                    </div>
                </div>
            </div>
            </div>
    </section>

    <hr>

    <section>
        <h2>Including This Functionality</h2>

        <p class="lead">This functionality has the ID <strong>{{ functionality.id }}</strong></p>

        <p>
            To include this functionality in your code, use the <code>which</code> function in your
            ablator client. Here's an example for the Python Client, <code>karman</code>:
        </p>

        <pre><code>
import karman
username = "(your user name string)"
functionality_id = "{{ functionality.id }}"
availability = karman.which(username, functionality_id)

# this will return one of the following:{% for flavor in functionality.flavor_set.all %}
# availability == "{{ flavor }}"{% endfor %}
# availability == None</code></pre>
    </section>
{% endblock %}