{% extends '_form_container.html' %}
{% load bootstrap4 %}
{% block home_nav_active %}active{% endblock %}
{% block overwrite_spacer %}
{% endblock %}

{% block form %}
    {% if object %}
        <h1>Edit {{ object.name }}</h1>
    {% else %}
        <h1>Create New Functionality</h1>
    {% endif %}
    <hr>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <hr>
        {% buttons %}
            {% if object.id %}
                <a class="btn btn-sm btn-outline-danger"
                   href="{% url 'functionality-delete' functionality.id %}">Delete {{ object.name }}</a>
            {% endif %}

            <span style="float: right;">

        <a class="btn btn-lg btn-outline-secondary"
           href="{% if object %}{% url 'functionality-detail' object.id %}{% else %}{% url 'home' %}{% endif %}">Go Back</a>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </span>
        {% endbuttons %}
    </form>
{% endblock %}

{% block help %}
    <h4>Roll Out Strategies</h4>
    <p>Ablator allows you to choose between these roll out strategies:</p>

    <h5><span class="badge badge-info">Release-Driven</span></h5>
    <p>During the rolling out process, it makes sense to have more fine-grained control over how your Functionality is enabled. Add one or more Releases to your Functionality to configure those more fine-grained options.</p>
    <h5><span class="badge badge-warning">Roll Out Paused</span></h5>
    <p>All new users will get the functionality disabled, but users who already had the functionality will get to keep it.</p>
    <h5><span class="badge badge-success">Enabled Globally</span></h5>
    <p>Once you're satisfied the functionality works as intended and doesn't overwhelm your servers, use this roll out strategy to enable it for all users.</p>
    <h5><span class="badge badge-danger">Recall</span></h5>
    <p>Oops, you made a mistake. All users will have that functionality revoked, even those who had it enabled in some form before.</p>
{% endblock %}