{% extends '_form_container.html' %}
{% load bootstrap4 %}
{% block home_nav_active %}active{% endblock %}w
{% block overwrite_spacer %}{% endblock %}

{% block form %}
    {% if object %}
        <h1>Edit {{ object.name }}</h1>
    {% else %}
        <h1>Create New Release</h1>
    {% endif %}
    <hr>
    <form action="." method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        <hr>
        {% buttons %}
            {% if object.id %}
                <a class="btn btn-sm btn-outline-danger"
                   href="{% url 'release-delete' object.id %}">Delete {{ object.name }}</a>
            {% endif %}

            <span style="float: right;">

        <a class="btn btn-lg btn-outline-secondary"
           href="{% if object %}{% url 'functionality-detail' object.functionality.id %}{% else %}{% url 'home' %}{% endif %}">Go Back</a>
        <button type="submit" class="btn btn-primary btn-lg">Save</button>
        </span>
        {% endbuttons %}
    </form>
{% endblock %}

{% block help %}
    <h4>How to use Releases</h4>
    <p>
        A release defines at which point in time you want to let in more users into your rollout
        program.
    </p>
    <p>
        After the <var>start at</var> date, ablator will enable flavors for all requesting users,
        until there are as many enabled users as <var>max enabled users</var>.
    </p>
    <p>
        You can have many releases to define your roll out in advance, or just have one release that
        you edit manually when you're ready to let in more users. Or add releases as necessary.
    </p>
{% endblock %}