{% extends '_base.html' %}
{% load humanize %}

{% block content %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

    <section>
        <div class="page-header">
            <div class="row">
                <div class="col-md-8">
                    <h1>Telemetry</h1>
                    <p class="lead">
                        This is what we can infer from signals, plus a raw list below.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="mb-3">
        <div class="row">

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <span class="display-2">{{ active_users_last_day|intword|intcomma }}</span><br>
                            <small>Active users in the last 24 hours</small>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <span class="display-2">{{ active_users_last_week|intword|intcomma }}</span><br>
                            <small>Active users in the last 7 days</small>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <span class="display-2">{{ active_users_last_month|intword|intcomma }}</span><br>
                            <small>Active users in the last 30 days</small>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <span class="display-2">{{ active_users_last_month_long_term|intword|intcomma }}</span><br>
                            <small>Long Term Users in the last 30 days</small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="card-group">
            <div class="card">
                {{ active_monthly_users.as_html }}
            </div>
        </div>
    </section>

    <section>
        {% for chart_list in charts %}
            <div class="card-group mb-3">
                {% for chart in chart_list.items %}
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ chart.0 }}</h5>
                            <div class="subinline">{{ chart.1.as_html }}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </section>

    <section class="mt-6">
        <h2>Raw Signals</h2>
        <p class="lead">The last 10 signals</p>
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th>Received At</th>
                <th>User</th>
                <th>Type</th>
                <th>Parameters</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object_list %}
                <tr>
                    <td>{{ obj.received_at }}</td>
                    <td>{{ obj.user.short_name }}</td>
                    <td>{{ obj.type }}</td>
                    <td>{{ obj.parameters }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td>No Signals for this App yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}
