{% load humanize %}
{% if functionality.rollout_strategy == 'enable_globally' %}
<p class="lead text-center">
    This functionality is <span class="badge badge-success">enabled globally</span>.
    It is enabled for all users of {{ functionality.app.name }}.
</p>
{% elif functionality.rollout_strategy == 'recall' %}
<p class="lead text-center">
    This functionality is marked as <span class="badge badge-danger">Recall</span>. All
    users will have that functionality revoked, even those who had it enabled in some
    form
    before.
</p>
{% else %}

{% if functionality.rollout_strategy == 'pause_rollout' %}
    <p class="lead text-center">
        The rollout for this functionality is
        <span class="badge badge-warning">paused</span>. All new users will get the
        functionality disabled, but users who already had the functionality will get to
        keep it.
    </p>
    <hr>
{% endif %}

<section>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="text-center">
                        <span class="display-2">{{ functionality.number_of_enabled_users|intword|intcomma }}</span><br>
                        <small>users enabled</small>
                    </div>

                </div>
            </div>
        </div>


        <div class="col">
            <div class="card">
                <div class="card-body">

                    <div class="text-center">
                        <span class="display-2">{{ functionality.number_of_users|intword|intcomma }}</span><br>
                        <small>potential users</small>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>
{% endif %}